# Environment variables (JANGAN PERNAH DI-PUSH KE GITHUB)
.env
.env.local
.env.*.local

# Virtual Environment
venv/
env/
ENV/
.venv/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Distribution / Packaging
dist/
build/
*.egg-info/

# Temporary / OS files
*.log
*.tmp
*.jpg
*.jpeg
*.png
.DS_Store
Thumbs.db

# IDE & Editor files
.vscode/
.idea/
*.swp
